<section id="hero-1" class="hero__container" style="--hero-image:url('<%= current_participatory_space.attached_uploader(:banner_image).url %>');" data-process-hero>
  <div class="hero">  
    <h1 class="hero__title">
      <%= translated_attribute(current_participatory_space.title) %>
    </h1>
    <h3 class="h3 hero_subtitle">
      <% if current_participatory_space.hashtag.present? %>
        <span class="h2 hero_hashtag">
          <%= link_to "##{current_participatory_space.hashtag}", twitter_hashtag_url(current_participatory_space.hashtag), target: "_blank" %>
        </span>
      <% end %>
      <%= translated_attribute(current_participatory_space.slogan) %>
    </h3>
    <div class="flex">
      <div class="column">
        <div class="conference--date button button__lg button__secondary">
          <%= participatory_space_helpers.render_date(current_participatory_space) %>
          <%= current_participatory_space.location %>
        </div>
      </div>
      <% current_participatory_space.components.where(manifest_name: "meetings").each do |component_meeting| %>
        <% if component_meeting.published? || component_meeting == self.try(:current_component) %>
          <div class="column">
            <%= link_to translated_attribute(component_meeting.name), decidim_conferences.conference_conference_program_path(current_participatory_space, id: component_meeting.id), class:"ml-6 button button__lg button__secondary" %>
          </div>
        <% end %>
      <% end %>
      <div class="registration column">
        <% if current_participatory_space.registrations_enabled? %>
          <%= link_to t(".register"), conference_registration_path(current_participatory_space), class:"ml-6 button button__lg button__secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
