<div class="mini-footer">
  <div class="row">
    <div class="medium-6 large-6 column">
      <a rel="license" class="cc-badge"
         href="http://creativecommons.org/licenses/by-sa/4.0/"
         target="_blank">
        <%= image_pack_tag("media/images/cc-badge.png", alt: "Creative Commons License" ) %>
      </a>
      <%= t("oh.layouts.footer.made_by_platoniq").html_safe %>
    </div>
    <div class="medium-6 large-4 column">
      <% if current_organization.official_img_footer.attached? %>
        <div class="decidim-logo">
          <%= link_to current_organization.official_url do %>
            <%= image_tag current_organization.attached_uploader(:official_img_footer).url(host: current_organization.host), alt: "current_organization.name"%>
          <% end %>
        </div>
      <% end %>
      <div class="decidim-logo">
        <a rel="decidim"
           href="https://openheritage.eu/"
           target="_blank">
           <%= image_pack_tag "media/images/oh-logo-white.jpg", alt: "OpenHeritage" %>
        </a>
      </div>
    </div>
  </div>
</div>
